@import "utils/_variables.scss";
@import "utils/_mapas.scss";
@import "layout/_header.scss";
@import "layout/_main.scss";
@import "layout/_footer.scss";

body {
  font-family: $font-hand;
}

.button-type-1 {
  border: none;
  background: $col-red-pantone;
  border-radius: 10px;
  color: $col-honeydew;
  cursor: pointer;
  height: 40px;
  width: 100px;

  &:hover {
    background-color: $col-berkeley-blue;
  }
}

main {
  display: flex;
  padding: 2% 10% 2% 10%;
  font-family: $font-hand;

  p {
    font-size: 2vw;
    color: $col-cerulean;
  }
}

.principal-presentation {
  align-self: center;
  padding-left: 10px;

  h1 {
    font-size: 4vw;
    color: $col-berkeley-blue;
  }
}

.carousel {
  position: none;
}

.principal-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  align-self: center;
}

.carousel-item img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

.services-section {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin: 0% 2% 0% 2%;
  justify-content: center;
  background-color: $col-cerulean;
  justify-items: center;
  place-items: center;
}

.services-card {
  width: 100%;
  max-width: 300px;
  height: auto;
  align-self: center;
  font-family: $font-hand;
  text-align: center;
  background-color: $col-honeydew;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  transition: all .3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  justify-items: center;

  h5 {
    color: $col-berkeley-blue;
  }

  p {
    color: $col-cerulean;
  }

  img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
}

.services-card-button {
  margin: 0% 0% 2% 0%;
}

footer {
  display: grid;
  place-items: center;
  font-family: $font-hand;

  ul {
    margin: 0%;
  }

  li {
    display: inline-flex;

    a {
      padding-right: 10px;
    }
  }

  p {
    color: $col-berkeley-blue;
  }
}

.nav-footer a,
.socials-footer a {
  color: $col-berkeley-blue;
}

.nav-footer a:hover,
.socials-footer a:hover {
  color: $col-cerulean;
}

/*CSS específico "Sobre nosotros"*/

.principal-presentation-about {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  background-color: $col-cerulean;
}

.principal-presentation-about-text {
  flex: 1 0 50%;
  h1 {
    font-size: 5vh;
    color: $col-berkeley-blue;
  }

  p {
    font-size: 3vh;
    color: $col-berkeley-blue;
  }
}

.about-us-img {
  flex: 1 0 50%;
  width: 100%;
  max-width: 500px;
  height: auto;
  padding-bottom: 5%;
}

.about-us-partners-section {
  display: grid;
  grid-template-columns: 15% 15% 15% 55%;
  padding: 2% 2% 2% 2%;
  font-family: $font-hand;
}

.partner-img {
  text-align: -webkit-center;
  img {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
}

.partner-aws {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.partner-google {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.partner-microsoft {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

.partner-redhat {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.partner-vmware {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.partner-servicenow {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}

.partner-text {
  grid-column: 4 / 4;
  grid-row: 1 / span 2;

  h2 {
    font-size: 4vh;
    color: $col-berkeley-blue;
    padding: 0% 5% 0% 5%;
  }
  p {
    color: $col-berkeley-blue;
    padding: 0% 5% 0% 5%;
  }
}

.about-us-clients-section {
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
  padding: 2% 2% 2% 2%;
  font-family: $font-hand;
  background-color: $col-cerulean;
}

.client-text {
  h2 {
    font-size: 4vh;
    color: $col-berkeley-blue;
  }
  p {
    color: $col-berkeley-blue;
  }
}

.client-img {
  justify-self: center;
  align-self: center;

  img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 80px;
  }
}

.client-text {
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
  padding-left: 5%;
}

.client-img {
  client-mac {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  client-city {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

  client-pepsi {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
  }

  client-wendys {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  client-rabobank {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
  }

  client-hsbc {
    grid-column: 4 / 4;
    grid-row: 2 / 2;
  }
}

/* CSS Contact */

.principal-presentation-contact {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  gap: 1%;
  h1, p {
    color: $col-berkeley-blue;
  }
}

.principal-presentation-contact-form label {
  margin: 1%;
  padding: 1% 0% 1% 0%;
  color: $col-berkeley-blue;
}

.principal-contact-image {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0%;

  a {
    text-decoration: none;
  }
}

.contact-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.contact-link {
  width: 100%;
  max-width: 180px;
  height: auto;
  justify-self: flex-end;
  transition: transform 250ms, opacity 400ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.contact-chat {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
}

.contact-mail {
  grid-column: 1 / 1;
  grid-row: 3 / 3;
}

.contact-phone {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

/* CSS Servicios */

.principal-presentation-services {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  gap: 1%;
  background-color: $col-berkeley-blue;
  align-items: center;
  justify-items: center;
  h1, p {
    color: $col-honeydew;
  }
  span {
    color: $col-non-photo-blue;
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 344px;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(2,auto);
  gap: 1%;
  padding: 2% 0% 2% 0%;
  align-items: center;
  justify-content: center;
  background-color: $col-cerulean;
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  h5, p {
    font-family: $font-hand;
    color: $col-berkeley-blue;
  }
}

.card-services {
  width: 100%;
  max-width: 400px;
  height: auto;
  align-self: center;
  text-align: center;
  justify-items: center;  
  background-color: $col-non-photo-blue;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  gap:1%;
  button {
    font-family: $font-hand;
  }
}

.services-consulting {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.services-cloud {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.services-security {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

.services-automation {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.services-bi {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.services-support {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}

/* CSS Ofertas*/

.principal-ofertas {
  display: flex;
  background-image: linear-gradient(to bottom right, $col-honeydew, $col-non-photo-blue, $col-cerulean, $col-berkeley-blue);
  margin: auto;
  justify-content: space-around;;
  align-items: center;
  text-align: center;
  color: $col-berkeley-blue;
  h1 {
    font-size: 5vh;
    margin: 1em auto;
  }
  img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: auto;
  }
}

.open-possitions {
  display: flex;
  flex-direction: column;
  font-family: $font-hand;
  margin: 0% 3% 0% 3%;
}

.title-possitions {
  align-self: center;
  height: 80px;
  padding-top: 20px;
  h2 {
    font-size: 4vh;
    color: $col-berkeley-blue;
  }
}

.possitions {
  display: flex;
  flex-flow: wrap-reverse;
  row-gap: 20px;
}

.l {
  border-radius: 10px 0px 0px 10px ;
  flex: 70%;
  height: 106px;
  background-image: linear-gradient(to bottom left, $col-honeydew, $col-non-photo-blue);
  color: $col-berkeley-blue;
  h3, p {
    margin-left: 1%;
  }
  h3 {
    font-size: 3.5vh;
  }
}
.r {
  flex: 30%;
  height: 106px;
  flex-basis: min-content;
  background-image: linear-gradient(to bottom right, $col-honeydew, $col-non-photo-blue);
  padding: 20px 0px 20px 30px;
  border-radius: 0px 10px 10px 0px;
  border-left: thick double $col-berkeley-blue
}

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 576px) {
  header {
    display: flex;
  }

  .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 100%;
    max-width: 120px;
    height: auto;
  }

  .menu-desktop {
    font-family: $font-hand;
  }

  .header-contact {
    display: none;
  }

  .container-fluid a {
    font-family: $font-hand;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    font-family: $font-hand;
  }

  .carousel-item img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  h1 {
    font-size: 5vh;
  }

  main p {
    font-size: 3vw;
  }

  .services-section {
    display: flex;
    flex-direction: row;
    padding: 2% 10% 2% 10%;
    justify-content: space-around;
  }

  .service-support,
  .service-automation,
  .service-bi {
    display: none !important;
  }

  .services-card {
    max-width: 180px;
    margin: 1%;

    img {
      max-width: 100px;
    }

    h5 {
      font-size: 3vw;
    }

    p {
      font-size: 2vw;
    }

    button {
      border-radius: 30px;
      font-size: 2.5vw;
      max-height: 25px;
      max-width: 80%;
    }
  }

  footer {
    padding: 3% 0% 0% 0%;
  }

  .nav-footer {
    font-size: 2vw;
  }

  /*CSS específico "Sobre nosotros"*/

  .principal-presentation-about {
    flex-direction: column-reverse;
  }

  .about-us-img {
    width: 100%;
    max-width: 220px;
    height: auto;
    padding-bottom: 5%;
    img {
      width: 100%;
      max-width: 220px;
      height: auto;
    }
  }

  .principal-presentation-about-text {
    h1 {
      font-size: 3vh;
    }

    p {
      font-size: 2vh;
    }
  }

  .about-us-partners-section {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 0, 5fr 1fr 1fr 1fr;
  }

  .partner-img {
    justify-self: center;
    align-self: center;

    img {
      width: 100%;
      max-width: 80px;
      height: auto;
    }
  }

  .partner-text {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 0% 2% 0% 2%;
  }

  .partner-aws {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
  }

  .partner-google {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }

  .partner-microsoft {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }

  .partner-vmware {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
  }

  .partner-text {
    h2 {
      font-size: 3vh;
    }

    p {
      font-size: 2vh;
      margin-bottom: 0%;
      padding: 0% 5% 0% 5%;
    }
  }

  .client-text {
    h2 {
      font-size: 3vh;
    }

    p {
      font-size: 2vh;
    }
  }

  .about-us-clients-section {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
  }

  .client-img img {
    max-width: 60px;
    max-height: 40px;
  }

  .client-text {
    grid-column: 1 / 1;
    grid-row: 1 / span 3;
    padding: 0% 0% 0% 12%;
  }

  .client-img {
    client-mac {
      grid-column: 2 / 2;
      grid-row: 1 / 1;
    }

    client-city {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
    }
  }

  .client-pepsi {
    display: none;
  }

  .client-img {
    client-wendys {
      grid-column: 2 / 2;
      grid-row: 3 / 3;
    }

    client-rabobank {
      grid-column: 1 / 1;
      grid-row: 4 / 4;
    }

    client-hsbc {
      grid-column: 2 / 2;
      grid-row: 4 / 4;
    }
  }

  .footer-about-us {
    padding-top: 2%;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .logo {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .navbar-toggler-icon {
    width: 1.8em !important;
    height: 1.8em !important;
  }

  .header-contact {
    display: none !important;
  }

  main {
    flex-direction: column-reverse;
  }

  .carousel-item img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .services-section {
    display: flex;
    flex-direction: row;
    padding: 1% 2% 1% 2%;
  }

  .service-automation,
  .service-bi {
    display: none !important;
  }

  .services-card {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin: 1%;

    img {
      width: 100%;
      max-width: 120px;
      height: auto;
    }
  }

  /*CSS específico "Sobre nosotros"*/

  .principal-presentation-about-text,
  .partner-text,
  .client-text {
    h1 {
      font-size: 3vh;
    }

    p {
      font-size: 2vh;
    }
  }

  .principal-presentation-about {
    flex-direction: column-reverse;
  }

  .about-us-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }

  .about-us-clients-section {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
  }

  footer {
    padding-top: 3%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar-toggler-icon {
    width: 2em !important;
    height: 2em !important;
  }

  .header-contact {
    display: none !important;
  }

  main {
    flex-direction: row;
  }

  .principal-presentation {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }

  .carousel-container {
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
  }

  .services-section {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: auto;
    padding: 1% 0% 1% 0%;
    gap: 1%;
  }

  .services-card {
    max-width: 200px;
  }

  .service-cloud {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .service-security {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .service-support {
    display: grid !important;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

  .service-automation {
    display: grid !important;
    grid-column: 4 / 4;
    grid-row: 1 / 1;

    img {
      justify-self: center;
    }
  }

  .service-bi {
    display: none !important;
  }

  /*CSS específico "Sobre nosotros"*/

  .principal-presentation-about {
    display: flex;
    flex-direction: row;
  }

  .about-us-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  .principal-presentation-about-text {
    h1 {
      font-size: 3.5vh;
    }

    p {
      font-size: 2.5vh;
    }
  }

  .partner-text {
    h2 {
      font-size: 3.5vh;
    }

    p {
      font-size: 2.5vh;
      margin-bottom: 0%;
      padding: 0% 5% 0% 5%;
    }
  }

  .client-text {
    h2 {
      font-size: 3.5vh;
    }

    p {
      font-size: 2.5vh;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    display: flex;
  }

  .header-contact {
    display: flex !important;
  }

  .hidden-nav-contact {
    display: none !important;
  }

  .principal-presentation {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }

  .carousel-item img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }

  .carousel-container {
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
  }

  .service-automation {
    display: grid !important;
  }

  .service-bi {
    display: none !important;
  }

  .services-section {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: auto;
    margin: 0%;
  }

  /*CSS específico "Sobre nosotros"*/

  .principal-presentation-about-text {
    h1 {
      font-size: 4vh;
    }

    p {
      font-size: 3vh;
    }
  }

  .partner-text {
    h2 {
      font-size: 4vh;
    }

    p {
      font-size: 3vh;
      margin-bottom: 0%;
      padding: 0% 5% 0% 5%;
    }
  }

  .client-text {
    h2 {
      font-size: 4vh;
    }

    p {
      font-size: 3vh;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hidden-nav-contact {
    display: none !important;
  }

  main {
    h1 {
      font-size: 3.5vh;
    }

    p {
      font-size: 1.5vw;
    }
  }

  .carousel-item img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .services-section {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    padding: 2% 0% 2% 0%;
    column-gap: 0%;
  }

  .service-bi {
    display: grid !important;
    grid-column: 5 / 5;
    grid-row: 1 / 1;

    img {
      justify-self: center;
    }
  }

  .card-img-top {
    justify-self: center;
  }

  /*CSS específico "Sobre nosotros"*/

  .about-us-clients-section {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    grid-template-rows: repeat(2, auto);
    padding: 2% 2% 2% 2%;
  }

  .client-img {
    justify-self: center;
    align-self: center;

    img {
      width: 100%;
      height: 100%;
      max-width: 100px;
      max-height: 80px;
    }
  }

  .client-text {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    padding-left: 5%;
  }

  .client-img {
    client-mac {
      grid-column: 2 / 2;
      grid-row: 1 / 1;
    }

    client-city {
      grid-column: 3 / 3;
      grid-row: 1 / 1;
    }

    client-pepsi {
      grid-column: 4 / 4;
      grid-row: 1 / 1;
    }

    client-wendys {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
    }

    client-rabobank {
      grid-column: 3 / 3;
      grid-row: 2 / 2;
    }

    client-hsbc {
      grid-column: 4 / 4;
      grid-row: 2 / 2;
    }
  }
}