//Paleta de colores

$col-red-pantone: #E63946;

$col-honeydew: #F1FAEE;

$col-non-photo-blue: #A8DADC;

$col-cerulean: #457B9D;

$col-berkeley-blue:#1D3557;

// fuente

$font-hand: 'Gochi Hand', cursive;