/* CSS Contact */

.principal-presentation-contact {
    @include grid-two-c;
  
    h1,
    p {
      color: $col-berkeley-blue;
    }
  }
  
  .principal-presentation-contact-form label {
    margin: 1%;
    padding: 1% 0% 1% 0%;
    color: $col-berkeley-blue;
  }
  
  .principal-contact-image {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0%;
  
    a {
      text-decoration: none;
    }
  }
  
  .contact-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
  
  .contact-link {
    width: 100%;
    max-width: 180px;
    height: auto;
    justify-self: flex-end;
    transition: transform 250ms, opacity 400ms;
  
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  
  .contact-chat {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }
  
  .contact-mail {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
  }
  
  .contact-phone {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
  }