/* CSS Ofertas*/

.principal-ofertas {
    display: flex;
    background-color: $col-berkeley-blue;
    margin: auto;
    justify-content: space-around;
    ;
    align-items: center;
    text-align: center;
    color: $col-non-photo-blue;
  
    h1 {
      font-size: 5vh;
      margin: 1em auto;
    }
  
    img {
      width: 100%;
      max-width: 450px;
      height: auto;
      margin: auto;
    }
  }
  
  .open-possitions {
    display: flex;
    flex-direction: column;
    font-family: $font-hand;
    margin: 0% 0% 0% 0%;
    background-color: $col-cerulean;
    padding: 2% 0% 2% 0%;
  }
  
  .title-possitions {
    align-self: center;
    height: 80px;
    padding-top: 0%;
  
    h2 {
      font-size: 4vh;
      color: $col-honeydew;
    }
  }
  
  .possitions {
    display: flex;
    flex-flow: wrap-reverse;
    row-gap: 20px;
    margin: 0% 3% 0% 3%;
  }
  
  .l {
    border-radius: 10px 0px 0px 10px;
    flex: 70%;
    height: 106px;
    background-image: linear-gradient(to bottom left, $col-honeydew, $col-non-photo-blue);
    color: $col-berkeley-blue;
  
    h3,
    p {
      margin-left: 1%;
    }
  
    h3 {
      font-size: 3.5vh;
    }
  }
  
  .r {
    flex: 30%;
    height: 106px;
    flex-basis: min-content;
    background-image: linear-gradient(to bottom right, $col-honeydew, $col-non-photo-blue);
    padding: 20px 0px 20px 30px;
    border-radius: 0px 10px 10px 0px;
    border-left: thick double $col-berkeley-blue
  }